/**
* Theme Name: Phlox Child
* Template: phlox
* Author: Brayden C
* Text Domain: phlox-child
* Version: 0.1.0
*/
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');


body, p, li {
    color: #222;
    font-size: 1rem;
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Nosifer', cursive;
    color: #a10000;
    text-shadow: 2px 2px 4px black;
}

h3, h4, h5, h6 {
    font-family: serif;
    color: #000000;
}

a {
    color: #f8bc41;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-content, .entry-content {
    background: #fff;
    padding: 1.5rem;
    border-radius: 6px;
}

.main-navigation a,
.elementor-nav-menu--main a {
    font-family: 'Nosifer', cursive;
    color: #a10000;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    font-size: 1rem;
}

.main-navigation a:hover,
.elementor-nav-menu--main a:hover {
    color: #f8bc41;
}

.aux-toggle-menu-bar {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.aux-header {
    background-color: black;
}

.aux-burger {
    background-color: #f8bc41;
}